<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.fasoo.mapper.AdminTypeAuthMapper">


    <select id="checkAdminTypeAuthByAuthTypeIdAndAdminTypeId" resultType="com.test.fasoo.dto.AdminTypeAuth.AdminTypeAuthCheckResult">
        SELECT
            (CASE
            WHEN COUNT(*) = 0 THEN 'INVALID_AUTH_TYPE'
            ELSE 	(CASE
                    WHEN COUNT(N) &lt; COUNT(*) THEN 'AUTHORIZED'
                    ELSE 'UNAUTHORIZED'
                    END)
            END) 	AS 	AUTH_CHECK_RESULT
        FROM    (
            SELECT  NULLIF(ADMIN_TYPE_ID, 'SYSTEM_ADMIN') AS N
            FROM    ADMIN_TYPE_AUTH
            WHERE   AUTH_TYPE_ID='DATA_USE'
        ) AS A
    </select>

</mapper>