<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.fasoo.mapper.AuthUserMapper">

    <select id="countAuthUserByRequestId" resultType="_int">
        SELECT  COUNT(*)
        FROM    AUTH_USER
        WHERE   REQUEST_ID=#{requestId}
    </select>

    <insert id="insertAuthUser" parameterType="com.test.fasoo.dto.AuthUser.AuthUserRequest" useGeneratedKeys="true">
        INSERT
        INTO    AUTH_USER(REQUEST_ID, AUTH_TYPE_ID, USER_ID, RESOURCE_ID, BEGIN_DATE, EXPIRE_DATE)
        VALUES
        <foreach collection="resourceIdList" item="resourceId" open="(" separator="), (" close=")">
            #{requestId}, #{authTypeId}, #{userId}, #{resourceId}, #{beginDate}, #{expireDate}
        </foreach>
        ;
    </insert>

    <select id="selectAuthIdsByRequestId" resultType="com.test.fasoo.dto.AuthUser.AuthId">
        SELECT  ID AS AUTH_USER_ID, RESOURCE_ID
        FROM    AUTH_USER
        WHERE   REQUEST_ID=#{requestId}
    </select>


</mapper>