<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.test.fasoo.mapper.UserAuthMapper">
    <insert id="createUserAuth" parameterType="com.test.fasoo.dto.UserAuth">
        <!-- 회원가입 -->
        INSERT INTO auth_user(auth_type_id, user_id, resource_id, begin_date, expire_date)
        VALUES(#{authTypeId}, #{userId}, #{resourceId}, #{beginDate}, #{expireDate});
    </insert>

    <select id="readUserAuth" parameterType="long" resultType="com.test.fasoo.dto.UserAuth">
        SELECT * FROM auth_user WHERE auth_user_id = #{userId};
    </select>
</mapper>