<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.fasoo.mapper.UserRoleMapper">
    
    <insert id="insertUserRole" parameterType="com.test.fasoo.dto.UserRole.UserRoleRequest" useGeneratedKeys="true">
        INSERT INTO USER_ROLE(ADMIN_TYPE_ID, USER_ID)
        VALUES (#{adminTypeId}, #{userId});

        <selectKey keyProperty="id" resultType="_int" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <select id="selectUserRoleById" resultType="com.test.fasoo.vo.UserRoleVo">
        SELECT  *
        FROM    USER_ROLE
        WHERE   ID=#{id}
    </select>

</mapper>